extends general/layout

include general/showMessage.jade

block head
  title Add - La palabra del día

block content
  h1 Add word
  +showMessage()
  form(role="form" action="" method="post")
    div(class="form-group")
      label(for="word") Word
      input(type="text" class="form-control" name="word" id="word" placeholder="Enter word")
    div(class="form-group")
      label(for="translation") Translation
      input(type="text" class="form-control" name="translation" id="translation" placeholder="Enter translation")
    button(type="submit" class="btn btn-primary") Add
block footer