extends ../views/layout

include ../views/showMessage.jade

block head
  title Known - La palabra del día

block content
  h1 Known words
  +showMessage()
  
  div(class="row")
    div(class="col-xs-4")
      strong Word
    div(class="col-xs-4") 
      strong Translation
    div(class="col-xs-4")
  hr
  each word in words
    div(class="row" style="height:1cm")
      div(class="col-xs-4"): strong #{word.word}
      div(class="col-xs-4") #{word.translation}
      div(class="col-xs-4")
        form(action="/#{user._id}/delete/#{word._id}" method="post" class="pull-right")
          button(class="btn btn-danger" type="submit" style="margin-left:5px;")
            span(class="glyphicon glyphicon-trash")

block footer